<table>

    {% for name in form.fields|keys %}

        {% set field = form.fields[name] %}

        {% if field.type != "hidden" %}
            <tr><td>
            {% if field.label is defined %}
                <label>{{ field.label }} :</label></td><td>
            {% endif %}
        {% endif %}

        {% if field.type == 'select' %}
            <select
                    name="{{ name }}"
                    {% if field.required is defined and field.required %} required='required'{% endif %}
            >
                <option value="0">Choisissez</option>
                {% for value in field.options|keys %}
                    <option
                            value="{{ value }}"
                            {% if (field.value is defined and field.value == value) or
                                (flash.datas[form.config.actionName] is defined and flash.datas[form.config.actionName]|keys|length > 0 and flash.datas[form.config.actionName][name] == value)  %}
                                selected
                            {% endif %}
                    >
                        {{ field.options[value] }}
                    </option>
                {% endfor %}
            </select>
        {% elseif field.type == "textarea" %}
            <textarea
                    name="{{ name }}"
                    {% if field.minLength is defined %}minLength="{{ field.minLength }}"{% endif %}
                    {% if field.maxLength is defined %}maxLength="{{ field.maxLength }}"{% endif %}
                    {% if field.class is defined %}class="{{ field.class }}"{% endif %}
                    {% if field.required is defined and field.required %} required='required'{% endif %}
				>{% if flash.datas[form.config.actionName] is defined and flash.datas[form.config.actionName]|keys|length > 0 %}
					{{ flash.datas[form.config.actionName][name] }}
				{% elseif field.value is defined %}
                    {{ field.value }}
                {% endif %}</textarea>
        {% else %}
            <input
                    type="{{ field.type }}"
                    name="{{ name }}"
                    id="{{ form.config.actionName }}_{{ name }}"
                    {% if flash.datas[form.config.actionName] is defined and flash.datas[form.config.actionName]|keys|length > 0 %}
                        value="{{ flash.datas[form.config.actionName][name] }}"
                    {% elseif field.value is defined %}
                        {% if field.type == "checkbox" %}
                            {{ field.value ? "checked" : "" }}
                        {% else %}
                            value="{{ field.value }}"
                        {% endif %}
                    {% endif %}
                    {% if field.minLength is defined %}minLength="{{ field.minLength }}"{% endif %}
                    {% if field.maxLength is defined %}maxLength="{{ field.maxLength }}"{% endif %}
                    {% if field.class is defined %}class="{{ field.class }}"{% endif %}
                    {% if field.required is defined and field.required %} required='required'{% endif %}
                    {% if field.type == "file" and field.mimes is defined %}
                        accept="{{ field.mimes }}"
                    {% endif %}
            />
        {% endif %}

        {% if field.type != "hidden" %}
            {% if field.type == "password" and field.canDisplay is defined and field.canDisplay %}
                </td><td style="text-align: left">
                <input type="button" value="Afficher" id="{{ form.config.actionName }}_{{ name }}_display"/>
                <script>
                    document.getElementById("{{ form.config.actionName }}_{{ name }}_display").addEventListener("click", function() {
                        const input = document.getElementById("{{ form.config.actionName }}_{{ name }}");

                        this.value = input.type === "password" ? "Masquer" : "Afficher";
                        input.type = input.type === "password" ? "text" : "password";
                    });
                </script>
            {% endif %}

            {% if field.description is defined %}
                </td></tr>
                <tr><td colspan="3">
                <p style="margin-left: 20%; text-align: left">{{ field.description }}</p>
                <br/>
            {% endif %}

            </td></tr>
        {% endif %}

    {% endfor %}
</table>
{% if session.token is defined %}
    <input name="token" type="hidden" value="{{ session.token }}">
{% endif %}
<input name="actionName" type="hidden" value="{{ form.config.actionName }}"/>
<input
        {% if form.config.submitClass is defined %}
            class="{{ form.config.submitClass }}"
        {% endif %}
        type="submit"
        value="{{ form.config.submit }}"/>