{% if flash is defined %}
	{% if flash.errors is defined and flash.errors[form.config.actionName] is defined %}
		{% set errors = flash.errors[form.config.actionName] %}
	{% endif %}

	{% if flash.datas[form.config.actionName] is defined and flash.datas[form.config.actionName]|keys|length > 0 %}
		{% set datas = flash.datas[form.config.actionName] %}
	{% endif %}
{% endif %}

<form action="{{ form.config.action }}" method="{{ form.config.method }}">
	<table class="form-table">
		{% for name in form.fields|keys %}
			{% set field = form.fields[name] %}
			{% if field.type != "hidden" %}
				<tr><td>
				<label>{{ field.label }} :</label></td><td>
			{% endif %}
			<input
					type="{{ field.type }}"
					name="{{ name }}"
					{% if datas is defined %}
						value="{{ datas[name] }}"
					{% elseif field.default is defined %}
						{% if field.type == "checkbox" %}
							{{ field.default ? "checked" : "" }}
						{% else %}
							value="{{ field.default }}"
						{% endif %}
					{% endif %}
					{% if field.minLength is defined %}minLength="{{ field.minLength }}"{% endif %}
					{% if field.maxLength is defined %}maxLength="{{ field.maxLength }}"{% endif %}
					{% if field.required is defined and field.required %} required='required'{% endif %}
			/>
			{% if field.type != "hidden" %}
				</td></tr>
			{% endif %}
		{% endfor %}
	</table>
	<input name="action" type="hidden" value="{{ form.config.actionName }}"/>
	<input type="submit" value="{{ form.config.submit }}"/>
</form>

{% if errors is defined %}
	<ul>
		{% for error in errors %}
			<li style="color: red;">{{ error }}</li>
		{% endfor %}
	</ul>
{% endif %}
