<form action="{{ form.config.action }}" method="{{ form.config.method }}">
	<table class="form-table">

		{% for name in form.fields|keys %}

			{% set field = form.fields[name] %}

			{% if field.type != "hidden" %}
				<tr><td>
				<label>{{ field.label }} :</label></td><td>
			{% endif %}

			{% if field.type == 'select' %}
				<select
						name="{{ name }}"
						{% if field.required is defined and field.required %} required='required'{% endif %}
				>
					<option value="0">Choisissez</option>
					{% for value in field.options|keys %}
						<option
								value="{{ value }}"
								{% if field.value is defined and field.value == value %}selected{% endif %}
						>
							{{ field.options[value] }}
						</option>
					{% endfor %}
				</select>
			{% else %}
				<input
						type="{{ field.type }}"
						name="{{ name }}"
						{% if flash.datas[form.config.actionName] is defined and flash.datas[form.config.actionName]|keys|length > 0 %}
							value="{{ flash.datas[form.config.actionName][name] }}"
						{% elseif field.value is defined %}
							{% if field.type == "checkbox" %}
								{{ field.value ? "checked" : "" }}
							{% else %}
								value="{{ field.value }}"
							{% endif %}
						{% endif %}
						{% if field.minLength is defined %}minLength="{{ field.minLength }}"{% endif %}
						{% if field.maxLength is defined %}maxLength="{{ field.maxLength }}"{% endif %}
						{% if field.required is defined and field.required %} required='required'{% endif %}
				/>
			{% endif %}

			{% if field.type != "hidden" %}
				</td></tr>
			{% endif %}

		{% endfor %}
	</table>
	<input name="action" type="hidden" value="{{ form.config.actionName }}"/>
	<input class="btn" type="submit" value="{{ form.config.submit }}"/>
</form>

{% if flash.errors[form.config.actionName] is defined and flash.errors[form.config.actionName]|length > 0  %}
	<ul>
		{% for error in flash.errors[form.config.actionName] %}
			<li style="color: red;">{{ error }}</li>
		{% endfor %}
	</ul>
{% endif %}
